In [1]:
import pandas as pd
import geopandas as gpd
from shapely import wkt

In [2]:
# Read your complete CSV file
df = pd.read_csv('mapping_nyc.csv')
len(df)

886

In [3]:
# drop two that are not streets
df = df[df["Category"] != "Structure"]
len(df)

884

In [4]:
# I want to save each category as a separate marker for datawrapper

female_sts = df[df["Membership"] == "Female"]
male_sts = df[df["Membership"] == "Male"]
group_sts = df[df["Membership"] == "Group"]
both_sts = df[df["Membership"] == "Male/Female"]
misc_sts = df[df["Membership"] == "Misc"]

In [7]:
example_sts = df[(df["New Name"] == "Ellen Stewart Way") | (df["New Name"] == "Renee Mancino Way") | (df["New Name"] == "Elizabeth Jennings Place")]
example_sts

,Coordinates,Intro Number,Enactment Date,Enactment Year,Enactment Number,Category,Borough,New Name,Present Name,Membership,Biographical Information,Limits,Zip Code,Introduced by Council Member(s),Notes
240,MULTILINESTRING ((-73.99141299799999 40.727026...,Int. No. 590-A,07/11/2011,2011,2011/047,Street,Manhattan,Ellen Stewart Way,East 4th Street,Female,Ellen Stewart was the first African-American f...,Between Bowery and 2nd Avenue,10003,Mendez,NaN
271,MULTILINESTRING ((-73.91655480599997 40.869359...,Int. No. 1227,08/03/2016,2016,2016/092,Street,Manhattan,Renee Mancino Way,Broadway,Female,Renee Mancino was the owner of Carrot Top Past...,Between 214th Street and 215th Street,10034,Rodriguez,NaN
462,MULTILINESTRING ((-74.00689414499993 40.711711...,Int. No. 457,12/05/2006,2006,2006/050,Street,Manhattan,Elizabeth Jennings Place,Park Row,Female,"A century before Rosa Parks, Elizabeth Jenning...",Between Beekman and Spruce Streets,10038,Gerson,NaN

In [22]:
len(male_sts)

552

In [13]:
cd facet_geojson/

[Errno 2] No such file or directory: 'facet_geojson/'
/Users/anushasubramanian/Desktop/nyc_streetnames/mapping/misc/facet_geojson

/Users/anushasubramanian/.pyenv/versions/3.12.7/lib/python3.12/site-packages/IPython/core/magics/osm.py:393: UserWarning: This is now an optional IPython functionality, using bookmarks requires you to install the `pickleshare` library.
  bkms = self.shell.db.get('bookmarks', {})

In [14]:
def convert_geojson(df, filename):
    df = df.copy()
    df['geometry'] = df['Coordinates'].apply(wkt.loads)
    gdf = gpd.GeoDataFrame(df, geometry='geometry')
    gdf.crs = "EPSG:4326"
    gdf.to_file(filename, driver='GeoJSON')

In [30]:
convert_geojson(df, "honorary_nyc_sts.geojson")

In [31]:
convert_geojson(female_sts, "female_sts.geojson")

In [32]:
convert_geojson(male_sts, "male_sts.geojson")

In [33]:
convert_geojson(group_sts, "group_sts.geojson")

In [34]:
convert_geojson(both_sts, "both_sts.geojson")

In [35]:
convert_geojson(misc_sts, "misc_sts.geojson")

In [15]:
convert_geojson(example_sts, "example_sts.geojson")

In [28]:
import pandas as pd
import geopandas as gpd
from shapely import wkt

# Step 1: Load the CSV
df = pd.read_csv('mapping_nyc.csv')

# Step 2: Convert 'geometry' column from WKT string to shapely geometry
df['geometry'] = df['Coordinates'].apply(wkt.loads)

# Step 3: Convert to GeoDataFrame
gdf = gpd.GeoDataFrame(df, geometry='geometry', crs='EPSG:4326')

# Step 4: Calculate centroid (midpoint) of each geometry
gdf['centroid'] = gdf.geometry.centroid

# Step 5: Extract lat/lon from centroid
gdf['latitude'] = gdf.centroid.y
gdf['longitude'] = gdf.centroid.x

# Step 6: Save to CSV
gdf.drop(columns=['centroid']).to_csv('mapping_midpoints.csv', index=False)

print("✅ Done! Saved midpoint coordinates to 'nyc_streets_with_midpoints.csv'")

✅ Done! Saved midpoint coordinates to 'nyc_streets_with_midpoints.csv'

/var/folders/2_/nl4h85lj1jqcl64vgwgvqnh40000gn/T/ipykernel_30993/806728285.py:15: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  gdf['centroid'] = gdf.geometry.centroid
/var/folders/2_/nl4h85lj1jqcl64vgwgvqnh40000gn/T/ipykernel_30993/806728285.py:18: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  gdf['latitude'] = gdf.centroid.y
/var/folders/2_/nl4h85lj1jqcl64vgwgvqnh40000gn/T/ipykernel_30993/806728285.py:19: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  gdf['longitude'] = gdf.centroid.x

In [33]:
gdf[gdf["Membership"] == "Male"].to_csv('male_midpoints.csv', index=False)

In [34]:
gdf[gdf["Membership"] == "Female"].to_csv('female_midpoints.csv', index=False)

In [35]:
# misc, group, male and female
gdf[(gdf["Membership"] != "Female") & (df["Membership"] != "Male")].to_csv('other_midpoints.csv', index=False)

## Adding additional data for tooltips 
using data we got from ```hyc_honorary_streenames.ipynb```

In [6]:
female = pd.read_csv("facet_midpoints/female_midpoints.csv")
male = pd.read_csv("facet_midpoints/male_midpoints.csv")

In [11]:
stats = pd.read_csv("../crosstab_borough.csv")
stats.drop(columns = "All", inplace = True)

In [12]:
stats

    Membership  Bronx Brooklyn Manhattan Queens Staten Island
0       Female  25.5%    22.1%     26.5%  17.6%         17.5%
1        Group   7.2%     9.7%     17.5%  12.7%         12.5%
2         Male  64.7%    66.3%     53.4%  63.1%         67.5%
3  Male/Female   1.3%     1.6%      1.1%   1.2%          2.5%
4         Misc   1.3%     0.4%      1.6%   5.3%          0.0%

In [21]:
# creating dictionaries of the stats
female_named_pct = stats.iloc[0][1:].to_dict()
male_named_pct = stats.iloc[2][1:].to_dict()

In [20]:
# getting population from censusreporter for each borough acc to ACS 2023

female_pop = {
    'Bronx': '53%',
    'Brooklyn': '52%',
    'Manhattan': '52%',
    'Queens': '51%',
    'Staten Island': '51%'}

male_pop = {
    'Bronx': '47%',
    'Brooklyn': '48%',
    'Manhattan': '48%',
    'Queens': '49%',
    'Staten Island': '49%'}

In [26]:
female['pct_female_named_streets'] = female['Borough'].map(female_named_pct)
female["pct_female_pop"] = female["Borough"].map(female_pop)
female.head()

,Coordinates,Intro Number,Enactment Date,Enactment Year,Enactment Number,Category,Borough,New Name,Present Name,Membership,...,Limits,Zip Code,Introduced by Council Member(s),Notes,geometry,centroid,latitude,longitude,pct_female_named_streets,pct_female_pop
0,MULTILINESTRING ((-73.95303907799996 40.808438...,Int. No. 22,07/29/2002,2002,2002/019,Street,Manhattan,Harriet Tubman Square,NaN,Female,...,the portions of Frederick Douglass Boulevard a...,10027,"Perkins, Lopez, Comrie, Davis, Foster, Koppell...",NaN,MULTILINESTRING ((-73.95303907799996 40.808438...,POINT (-73.95297834313676 40.807534257675236),40.807534,-73.952978,26.5%,52%
1,MULTILINESTRING ((-73.94301511099997 40.815897...,Int. No. 428-A,12/20/2010,2010,2011/003,Street,Manhattan,Madam C.J. & A’Lelia Walker Place,136th Street,Female,...,Between Adam Clayton Powell Jr. Boulevard and ...,10037,Dickens,NaN,MULTILINESTRING ((-73.94301511099997 40.815897...,POINT (-73.94178397699997 40.81538640200003),40.815386,-73.941784,26.5%,52%
2,MULTILINESTRING ((-73.82732744999998 40.830611...,Int. No. 342-A,02/18/2003,2003,2003/014,Street,Bronx,Marge Jeffries Way,Barkley Avenue,Female,...,Between East Tremont Avenue and Revere Avenue,10465,Provenzano,NaN,MULTILINESTRING ((-73.82732744999998 40.830611...,POINT (-73.82698025299996 40.83078445900006),40.830784,-73.826980,25.5%,53%
3,MULTILINESTRING ((-73.95338598499995 40.638324...,Int. No. 1278,01/20/2024,2024,2024/041,Street,Brooklyn,Aracely Courtenay Way,Flatbush Avenue,Female,...,Between Foster Avenue and East 26th Street,11210,Louis,NaN,MULTILINESTRING ((-73.95338598499995 40.638324...,POINT (-73.95275298349995 40.63775476850006),40.637755,-73.952753,22.1%,52%
4,MULTILINESTRING ((-73.88470675699995 40.744532...,Int. No. 471-A,12/21/2004,2004,2004/063,Street,Queens,Luz Colon Place,Baxter Avenue,Female,...,between Broadway and Layton Street,11373,Monserrate,NaN,MULTILINESTRING ((-73.88470675699995 40.744532...,POINT (-73.88487305399997 40.74429244050006),40.744292,-73.884873,17.6%,51%

In [27]:
male['pct_male_named_streets'] = male['Borough'].map(male_named_pct)
male["pct_male_pop"] = male["Borough"].map(male_pop)
male.head()

,Coordinates,Intro Number,Enactment Date,Enactment Year,Enactment Number,Category,Borough,New Name,Present Name,Membership,...,Limits,Zip Code,Introduced by Council Member(s),Notes,geometry,centroid,latitude,longitude,pct_male_named_streets,pct_male_pop
0,MULTILINESTRING ((-73.97119481799996 40.792714...,Int. No. 825,10/10/2008,2008,2008/048,Street,Manhattan,James D. Garst Way,South side of West 94th Street,Male,...,Between Columbus Avenue and Amsterdam Avenue,10025,Brewer,NaN,MULTILINESTRING ((-73.97119481799996 40.792714...,POINT (-73.96989260549995 40.79216416850005),40.792164,-73.969893,53.4%,48%
1,MULTILINESTRING ((-73.87603364599994 40.842055...,Int. No. 1103-A,12/28/2009,2009,2009/092,Street,Bronx,Supervising Fire Dispatcher Dennis Patrick O’ ...,East 180th Street,Male,...,Between Bronx Park Avenue and Devoe Avenue,10460,Rivera,NaN,MULTILINESTRING ((-73.87603364599994 40.842055...,POINT (-73.87536309349994 40.84181617750005),40.841816,-73.875363,64.7%,47%
2,MULTILINESTRING ((-73.78751479699997 40.773209...,Int. No. 1103-A,12/28/2009,2009,2009/092,Street,Queens,Ron Carey Avenue,28th Avenue,Male,...,Between 203rd and 206th Streets,11360,Avella,NaN,MULTILINESTRING ((-73.78751479699997 40.773209...,POINT (-73.78677685323456 40.77381243629474),40.773812,-73.786777,63.1%,49%
3,MULTILINESTRING ((-73.89871490799999 40.843884...,Int. No. 437-A,06/03/2003,2003,2003/034,Street,Bronx,Marshall C. England Way,Bathgate Avenue,Male,...,Between the Cross Bronx Expressway and Claremo...,10457,Rivera,NaN,MULTILINESTRING ((-73.89871490799999 40.843884...,POINT (-73.90020874224969 40.841209636944086),40.841210,-73.900209,64.7%,47%
4,MULTILINESTRING ((-73.90492505999998 40.878990...,Int. No. 281-A,05/05/2004,2004,2004/008,Street,Bronx,Chuck Seidner Way,West 231st Street,Male,...,between Godwin Terrace and Broadway,10463,Koppell,NaN,MULTILINESTRING ((-73.90492505999998 40.878990...,POINT (-73.90532202699998 40.879190952000044),40.879191,-73.905322,64.7%,47%

In [29]:
cd facet_midpoints/

/Users/anushasubramanian/Desktop/nyc_streetnames/data_analysis/mapping/facet_midpoints

/Users/anushasubramanian/.pyenv/versions/3.12.7/lib/python3.12/site-packages/IPython/core/magics/osm.py:417: UserWarning: This is now an optional IPython functionality, setting dhist requires you to install the `pickleshare` library.
  self.shell.db['dhist'] = compress_dhist(dhist)[-100:]

In [30]:
female.to_csv("female_midpoints.csv", index = False)
male.to_csv("male_midpoints.csv", index = False)